@import "tailwindcss";

:root {
  /* Base */
  --base: #D9BBA9; /* Cream background */
  --foreground: #171717; /* Text color */

  /* Coffee Theme */
  --primary: #8C472E; /* Mocha */
  --secondary: #BF6836; /* Cinnamon */
  --accent: #D9A05B; /* Caramel */
  --dark: #592722; /* Espresso */

  /* Fonts */
  --font-sans: var(--font-poppins);
  --font-heading: var(--font-playfair);
}


@theme inline {
  /* Colors */
  --color-base: var(--base);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-dark: var(--dark);

  /* Fonts */
  --font-sans: var(--font-poppins);
  --font-heading: var(--font-playfair);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  @keyframes float {
    0%, 100% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-15px) rotate(1deg); }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
}



@layer utilities {

  @keyframes promoBlink {
    0%, 49% {
      color: white;
      background-color: rgba(255,255,255,0.10);
    }

    50%, 100% {
      color: #ff3b3b; /* rouge */
      background-color: rgba(255,59,59,0.15);
    }
  }

  .promo-blink {
    animation: promoBlink 1.2s ease-in-out infinite;
    animation-delay: 0.7s;
  }

}
